*{
    margin:0px;
    padding:0px;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.MuiDropzoneArea-root {
	background-color: transparent !important;
}
.MuiDropzoneArea-text, .MuiDropzoneArea-icon {
  color: white !important;
}
#root1 {
	background-color: aquamarine;
	margin-top: 50px;
	width: 1000px;
	height: 200px;
	border: 1px solid #c3c3c3;
	display: grid;
	justify-content: center;
  }
  #root2{
	height: 500px;
	width: 500px;
  }
